{% extends 'parent/base.html' %}
{% load jformat %} {#  for persian date and time format #}
{% block title %}Post Detail:{% endblock %}
{% block content %}
    
    <h1>Post Detail:</h1>
    <h2>{{ post.title }} by {{ post.author | capfirst }}</h2>
    <h2>{{ post.description | linebreaks }}</h2>
    <hr>
    {#<p>{{ post.publish | date:'Y/m (H:i)'}}</p>#}        {# for english time #}
    <p class="paragraph">{{ post.publish | jformat:'%y/%m/%d - %H:%M' }}</p> {# for persian time and date #}
    
{% endblock %}
