{% extends 'parent/base.html' %}
{% block title %}Post List{% endblock %}
{% block content %}
    <h1>Posts List:</h1>
    
<ol style="--length: {{ posts|length }}" role="list">   
    {% for post in posts %}
        <li style="--i: {{ forloop.counter }}">
            <h3>
            <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>  {# using absolute url #}
            {# <a href="{% url 'blog:post_detail' post.id %}">{{ post.title }}</a> #} {# without absolute url #}
            </h3>
            <p>{{ post.description | truncatewords:5 }}</p>
            <img src="{{ post.images.first.image_file.url }}" alt="{{ post.images.first.title }}">
        </li>
    {% endfor %}
</ol>
{% include 'partials/pagination.html' with page=page_obj %}
{% endblock %}